<div class="container-fluid">
	<div class="row text-md-center bg-body-tertiary pt-3">
		<div class="col-md"><span class="fw-light">Genere:</span> Fantascienza, Avventura, Romance</div>
		<div class="col-md"><span class="fw-light">Data di Uscita:</span> 15 maggio 2024</div>
	</div>
	<div class="row p-2 gap-3 justify-content-center bg-body-tertiary">
		<div class="row">
			<strong class="p-0">Trama:</strong>

			<p class="text-truncate troncaTxt col-9 m-0 p-0">
				In un mondo dominato dall'intelligenza artificiale, Kael, un giovane ribelle, si unisce a un gruppo di rivoluzionari per scoprire la verità
				nascosta dietro il loro mondo. Durante la sua lotta per la libertà, incontra Alara, una scienziata con un passato misterioso. Tra di loro scatta
				una scintilla, ma il loro amore viene messo alla prova dalle forze che cercano di distruggere le loro speranze.
			</p>
			<button class="btn p-0 border-0 text-body-emphasis text-start fw-semibold col-3" (click)="cambiaBtnTxt()" appTroncaTesto>{{ btnText }}</button>
		</div>
		<div class="row text-body-secondary">
			<div class="col p-0">
				<span class="fw-light">Lingua:</span><br />
				italiano, inglese, francese
			</div>
			<div class="col p-0">
				<span class="fw-light">Sottotitoli:</span><br />
				italiano, inglese, francese, tedesco, rumeno
			</div>
			<div class="col p-0">
				<span class="fw-light">Caratteristiche:</span><br />
				irriverente, arrogante, leggero
			</div>
		</div>
	</div>
</div>
