::-webkit-scrollbar {
	width: 6px; /* larghezza della scrollbar */
}

::-webkit-scrollbar-track {
	/* colore dello sfondo della scrollbar */
	background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
	background: $primary; /* colore del thumb della scrollbar */
}

/* Firefox */
::-moz-scrollbar {
	width: 6px;
}

::-moz-scrollbar-track {
	background-color: rgba(255, 255, 255, 0);
}

::-moz-scrollbar-thumb {
	background: $primary;
}

/* Internet Explorer / Edge */
::-ms-scrollbar {
	width: 6px;
}

::-ms-scrollbar-track {
	background-color: rgba(255, 255, 255, 0);
}

::-ms-scrollbar-thumb {
	background: $primary;
}
