<!-- ! CAROSELLO INDEX -->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				class="bd-placeholder-img object-fit-cover imgIndex"
				width="100%"
				height="100%"
				src="https://placehold.co/1200x400"
				aria-hidden="true"
				preserveAspectRatio="xMidYMid slice"
				focusable="false"
				alt="place"
			/>
			<div class="container">
				<div class="carousel-caption text-start">
					<h1>Example headline.</h1>
					<p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="bd-placeholder-img object-fit-cover imgIndex"
				width="100%"
				height="100%"
				src="https://placehold.co/1200x400"
				aria-hidden="true"
				preserveAspectRatio="xMidYMid slice"
				focusable="false"
				alt="place"
			/>
			<div class="container">
				<div class="carousel-caption">
					<h1>Another example headline.</h1>
					<p>Some representative placeholder content for the second slide of the carousel.</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="bd-placeholder-img object-fit-cover imgIndex"
				width="100%"
				height="100%"
				src="https://placehold.co/1200x400"
				aria-hidden="true"
				preserveAspectRatio="xMidYMid slice"
				focusable="false"
				alt="place"
			/>
			<div class="container">
				<div class="carousel-caption text-end">
					<h1>One more for good measure.</h1>
					<p>Some representative placeholder content for the third slide of this carousel.</p>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<!-- ! FINE CAROSELLO INDEX -->

<!-- ! CONTENUTO MARKETING -->
<div class="container marketing pe-none">
	<div class="container px-4 py-5">
		<h2 class="pb-2 border-bottom">Scopri di più</h2>

		<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5">
			<div class="col d-flex flex-column align-items-start gap-2">
				<h2 class="fw-bold text-body-emphasis">Libera la tua visione, nessun limite con Codex!</h2>
				<p class="text-body-secondary">
					Guarda ciò che vuoi ovunque. Disdici quando vuoi !
					<br />
					Vuoi guardare Codex?
					<br />
					Cosa aspetti premi il pulsante registrati ed effettua l'accesso!
				</p>
				<!-- <button data-bs-toggle="modal" data-bs-target="#registraModal" class="btn btn-primary btn-lg pe-auto">Registrati</button> -->
			</div>

			<div class="col">
				<div class="row row-cols-1 row-cols-sm-2 g-4">
					<div class="col d-flex flex-column gap-2">
						<div
							class="icon-square text-body-emphasis p-2 rounded-3 bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
						>
							<span class="bi bi-camera-reels-fill" width="30px" height="30px"></span>
						</div>
						<h4 class="fw-semibold mb-0 text-body-emphasis">Film & Serie Tv</h4>
						<p class="text-body-secondary">Accedi a una vasta libreria di film e serie TV, pronti per essere guardati in qualsiasi momento.</p>
					</div>

					<div class="col d-flex flex-column gap-2">
						<div
							class="icon-square text-body-emphasis p-2 rounded-3 bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
						>
							<span class="bi bi-stars" width="30px" height="30px"></span>
						</div>
						<h4 class="fw-semibold mb-0 text-body-emphasis">Sempre nuovi</h4>
						<p class="text-body-secondary">Resta al passo con le ultime uscite e gli aggiornamenti della tua serie preferita.</p>
					</div>

					<div class="col d-flex flex-column gap-2">
						<div
							class="icon-square text-body-emphasis p-2 rounded-3 bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
						>
							<span class="bi bi-person-bounding-box" width="30px" height="30px"></span>
						</div>
						<h4 class="fw-semibold mb-0 text-body-emphasis">Feed incentrato sull'Utente</h4>
						<p class="text-body-secondary">Personalizza la tua esperienza con un feed che ti offre contenuti basati sui tuoi gusti e interessi.</p>
					</div>

					<div class="col d-flex flex-column gap-2">
						<div
							class="icon-square text-body-emphasis p-2 rounded-3 bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
						>
							<span class="bi bi-shield-lock-fill" width="30px" height="30px"></span>
						</div>
						<h4 class="fw-semibold mb-0 text-body-emphasis">Sicurezza alla base di tutto</h4>
						<p class="text-body-secondary">
							Riposa tranquillo sapendo che la tua sicurezza è la nostra priorità, con misure robuste per proteggere i tuoi dati e la tua privacy.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">
				Guarda Codex ovunque
				<span class="text-body-secondary"> senza limiti !</span>
			</h2>
			<p class="lead">
				Con Codex, goditi film e serie TV in streaming senza limiti, su cellulare, tablet o laptop. Porta l'intrattenimento sempre con te, scegliendo il
				dispositivo che preferisci. Scopri la libertà di guardare dove vuoi e quando vuoi!
			</p>
		</div>
		<div class="col-md-5">
			<img src="./assets/img/esempiDispositivi.png" width="300px" height="300px" alt="placeholder" />
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">
				Goditi Codex senza spese,
				<span class="text-body-secondary">per sempre!</span>
			</h2>
			<p class="lead">
				Con Codex, goditi un'esperienza senza limiti e senza costi nascosti per sempre! Guarda film, serie TV e tanto altro ovunque tu sia, senza dover
				spendere un centesimo. Registra un account ora, aggiungi qualche credito e inizia a esplorare!
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="./assets/img/noMoney.png" alt="placeholder" width="300px" height="300px" />
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">
				Scarica Serie Tv e Film,<span class="text-body-secondary">porta il divertimento ovunque vai</span>
			</h2>
			<p class="lead">
				Dove vuoi, quando vuoi e come vuoi scarica le serie TV e i film per guardarli offline! Goditi l'intrattenimento in aereo, sul treno, ovunque tu
				sia. Non perdere tempo, esplora adesso!
			</p>
		</div>
		<div class="col-md-5">
			<img src="assets/img/esempioScarica.png" width="300px" height="300px" alt="" />
		</div>
	</div>

	<!-- /END THE FEATURETTES -->
</div>
<!-- ! FINE CONTENUTO MARKETING -->
