<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol fill="currentColor" id="sicurezza" viewBox="0 0 16 16">
		<path
			d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"
		/>
		<path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415" />
	</symbol>
</svg>

<ng-container *ngIf="dataPsw !== null">
	<div class="list-group-item list-group-item-action rounded-bottom-2 d-flex gap-3 py-3 flex-md-row flex-column align-items-center">
		<div class="text-primary">
			<svg class="text-center" width="40" height="40">
				<use href="#sicurezza"></use>
			</svg>
		</div>
		<div class="d-flex gap-2 w-100 justify-content-between align-items-center flex-md-row flex-column">
			<div>
				<h4 class="text-center text-md-start">
					Verifica Password:
					<span class="badge rounded-pill p-1" [ngClass]="{ 'bg-danger': ctrlPswScad === false, ' bg-success': ctrlPswScad }"
						><i [ngClass]="{ 'bi bi-check2-circle': ctrlPswScad, 'bi bi-exclamation-triangle': ctrlPswScad === false }"></i
					></span>
				</h4>
				<div class="mb-0 opacity-75">
					<h5 class="card-text text-center">
						Ultimo aggiornamento:<strong> {{ dataPsw.created_at | date : "dd/MM/yyyy" }}</strong>
					</h5>
				</div>
				<h5 class="pt-1 text-center text-md-start">
					Scadenza:<strong> {{ giorniScad + " giorni" }}</strong>
				</h5>
			</div>
			<a href="javascript:void(0)" [routerLink]="['/profilo/update-psw']" [routerLinkActive]="['active']" class="btn btn-primary">Cambia</a>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="dataPsw === null">
	<div class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded-bottom-2 flex-column flex-md-row align-items-center">
		<div class="text-primary">
			<svg class="text-center" width="40" height="40">
				<use href="#sicurezza"></use>
			</svg>
		</div>
		<div class="d-flex gap-2 w-100 justify-content-between align-items-center flex-column flex-md-row">
			<div class="container-fluid d-flex flex-column gap-3">
				<span class="placeholder col-12 col-md-6"></span>
				<span class="placeholder col-12 col-md-8"></span>
				<span class="placeholder col-6 m-auto m-md-0"></span>
			</div>

			<a class="btn btn-primary disabled placeholder col-4 col-md-2 mt-3" aria-disabled="true"></a>
		</div>
	</div>
</ng-container>
