<div class="mt-4">
	<!-- ================================================================================ -->

	<!-- ? CARDS -->
	<div class="d-flex flex-column mt-5 mb-5 p-1 gap-2">
		<!-- ! TUTTI -->
		<div class="container-fluid">
			<!-- ? BREAD CRUMB SCOPRI -->
			<nav aria-label="breadcrumb" class="ms-1">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Home</li>
					<li class="breadcrumb-item" aria-current="page">
						<a
							href="#"
							class="icon-link linkBread icon-link-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0"
						>
							Tutti

							<span class="scopri d-none ms-2">Scopri di più <i class="bi bi-arrow-right d-flex iconaBread ms-1"></i></span>
						</a>
					</li>
				</ol>
			</nav>
			<!-- ?/ FINE BREAD CRUMB SCOPRI -->
			<!-- ! CARDS -->
			<div class="overflow-x-clip carousel bg-body-tertiary contCard rounded-3 py-4" data-bs-ride="carousel">
				<div class="d-flex flex-row justify-content-start align-items-start gap-5 px-md-5 px-4 film">
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
				</div>
				<button
					class="carousel-control-prev prevBtn justify-content-center bg-body-secondary rounded-start"
					type="button"
					data-bs-slide="prev"
				>
					<span class="bi bi-arrow-left px-2"></span>
				</button>
				<button class="carousel-control-next nextBtn justify-content-center bg-body-secondary rounded-end" type="button" data-bs-slide="next">
					<span class="bi bi-arrow-right px-2"></span>
				</button>
			</div>
			<!-- ! FINE CARDS -->
		</div>
		<!-- ! FILM -->
		<div class="container-fluid">
			<!-- ? BREAD CRUMB SCOPRI -->
			<nav aria-label="breadcrumb" class="ms-1">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Home</li>
					<li class="breadcrumb-item" aria-current="page">
						<a
							href="#"
							class="icon-link linkBread icon-link-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0"
						>
							Film
							<span class="scopri d-none ms-2">Scopri di più <i class="bi bi-arrow-right d-flex iconaBread ms-1"></i></span>
						</a>
					</li>
				</ol>
			</nav>
			<!-- ?/ FINE BREAD CRUMB SCOPRI -->
			<!-- ! CARDS -->
			<div class="overflow-x-clip carousel bg-body-tertiary contCard rounded-3 py-4" data-bs-ride="carousel">
				<div class="d-flex flex-row justify-content-start align-items-start gap-5 px-md-5 px-4 film">
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
				</div>
				<button
					class="carousel-control-prev prevBtn justify-content-center bg-body-secondary rounded-start"
					type="button"
					data-bs-slide="prev"
				>
					<span class="bi bi-arrow-left px-2"></span>
				</button>
				<button class="carousel-control-next nextBtn justify-content-center bg-body-secondary rounded-end" type="button" data-bs-slide="next">
					<span class="bi bi-arrow-right px-2"></span>
				</button>
			</div>
			<!-- ! FINE CARDS -->
		</div>

		<!-- ! SERIE TV -->
		<div class="container-fluid">
			<!-- ? BREAD CRUMB SCOPRI -->
			<nav aria-label="breadcrumb" class="ms-1">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Home</li>
					<li class="breadcrumb-item" aria-current="page">
						<a
							href="#"
							class="icon-link linkBread icon-link-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0"
						>
							Serie Tv

							<span class="scopri d-none ms-2">Scopri di più <i class="bi bi-arrow-right d-flex iconaBread ms-1"></i></span>
						</a>
					</li>
				</ol>
			</nav>
			<!-- ?/ FINE BREAD CRUMB SCOPRI -->
			<!-- ! CARDS -->
			<div class="overflow-x-clip carousel bg-body-tertiary contCard rounded-3 py-4" data-bs-ride="carousel">
				<div class="d-flex flex-row justify-content-start align-items-start gap-5 px-md-5 px-4 film">
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
					<!-- * CARD -->
					<div class="col movie-card colCard">
						<div class="card border">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid rounded-2" alt="place" />
						</div>
						<div class="cardSpecial">
							<img src="https://placehold.co/90x60" class="card-img-top img-fluid bg-body-secondary" alt="place" />
							<img
								src="https://placehold.co/90x30/red/white"
								class="img-fluid opacity-0 titoloCards position-absolute z-1"
								alt="titolo"
								width="30%"
							/>
							<div class="overlay position-absolute top-0 start-0 w-100 h-100 locandina2"></div>
							<div class="d-none cardsInfo bg-body-secondary">
								<div class="card-body bg-body-secondary p-1">
									<p class="card-text px-2">info rapide</p>
								</div>
								<div class="card-footer bg-body-secondary">
									<small class="text-body-secondary">
										<div class="hstack gap-1">
											<div class="px-1">
												<a href="#" class="btn py-0"><i class="bi bi-play-circle"></i></a>
												<button href="#" class="btn py-0 bi bi-plus-circle"></button>
											</div>
											<div class="p-1 ms-auto"></div>
											<div class="px-1"></div>
											<div class="p-1 ms-auto">
												<button href="#" class="btn py-0 bi bi-download"></button>
												<a href="#" class="btn py-0"><i class="bi bi-info-circle"></i></a>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
					<!-- */ FINE CARD -->
				</div>
				<button
					class="carousel-control-prev prevBtn justify-content-center bg-body-secondary rounded-start"
					type="button"
					data-bs-slide="prev"
				>
					<span class="bi bi-arrow-left px-2"></span>
				</button>
				<button class="carousel-control-next nextBtn justify-content-center bg-body-secondary rounded-end" type="button" data-bs-slide="next">
					<span class="bi bi-arrow-right px-2"></span>
				</button>
			</div>
			<!-- ! FINE CARDS -->
		</div>
	</div>
</div>
