<div class="container-fluid w-100 h-100">
	<ng-container *ngIf="ctrlData">
		<div class="list-group">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Tipo Indirizzo</th>
						<th scope="col">Nazione</th>
						<th scope="col">Città</th>
						<th scope="col">Provincia</th>
						<th scope="col">CAP</th>
						<th scope="col">Indirizzo</th>
						<th scope="col">Civico</th>

						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let indirizzo of dataIndirizzi; index as i">
						<td>{{ i + 1 }}</td>
						<td>{{ dataIndirizzi.length === 1 ? dataTipoIndirizzo[0].nome : dataTipoIndirizzo[i].nome }}</td>
						<td>{{ dataNazione.length === 1 ? dataNazione[0].nome : dataNazione[i].nome }}</td>
						<td>{{ dataComune.length === 1 ? dataComune[0].nome : dataComune[i].nome }}</td>
						<td>{{ dataComune.length === 1 ? dataComune[0].provincia : dataComune[i].provincia }}</td>
						<td>{{ indirizzo.cap }}</td>
						<td>{{ indirizzo.indirizzo }}</td>
						<td>{{ indirizzo.civico }}</td>
						<td>
							<input
								type="checkbox"
								[value]="indirizzo.idIndirizzo"
								id="checkbox{{ indirizzo.idIndirizzo }}"
								name="{{ indirizzo.idIndirizzo }}"
								style="font-size: 1.375em"
							/>
							<label class="form-check-label" for="checkbox{{ indirizzo.idIndirizzo }}"></label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-container>
	<ng-container *ngIf="!ctrlData">
		<h5 class="placeholder-glow">
			<span class="placeholder col-6"></span>
		</h5>
		<p class="card-text placeholder-glow">
			<span class="placeholder col-7"></span>
			<span class="placeholder col-4"></span>
			<span class="placeholder col-4"></span>
			<span class="placeholder col-6"></span>
			<span class="placeholder col-8"></span>
			<span class="placeholder col-7"></span>
			<span class="placeholder col-4"></span>
			<span class="placeholder col-4"></span>
			<span class="placeholder col-6"></span>
			<span class="placeholder col-8"></span>
		</p>
	</ng-container>
</div>
