.cardBody {
	height: 0px;
	transition: 0.3s ease-in-out;
	opacity: 0;
	z-index: -3;
}
.hovered {
	height: 0px;
	transition: 0.3s ease-in-out;
	opacity: 1;
	transform: scale(1.1);
}
.hoverLogoFilm {
	opacity: 1 !important;
	transition: 0.6s ease;
	z-index: 5 !important;
}

.logoFilm {
	height: 0px !important;
	top: -39px !important;
	left: 12px !important;
	opacity: 0;
	transition: 0.6s ease;
}

.card {
	transition: 0.3s ease;
}

.titoloCards {
	transition: 0.9s ease;
	transform: translateY(0);
}
