<div class="tab-pane fade p-1 show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
	<div class="accordion" id="accordionPanelsStayOpenExample">
		<div class="accordion-item bg-body-tertiary">
			<h2 class="accordion-header">
				<button
					class="accordion-button bg-body-secondary collapsed p-2"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseOne"
					aria-expanded="false"
					aria-controls="panelsStayOpen-collapseOne"
				>
					<p class="m-0">Stagione: <span> 1</span></p>
				</button>
			</h2>
			<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
				<div class="accordion-body p-0">
					<!--! EPISODI -->
					<div class="container-fluid d-flex flex-column gap-3 p-2">
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								1
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								2
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								3
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								4
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								5
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								6
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								7
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
					</div>
					<!--! FINE EPISODI -->
				</div>
			</div>
		</div>
		<div class="accordion-item bg-body-tertiary">
			<h2 class="accordion-header">
				<button
					class="accordion-button bg-body-secondary collapsed p-2"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseTwo"
					aria-expanded="false"
					aria-controls="panelsStayOpen-collapseTwo"
				>
					<p class="m-0">Stagione: <span> 2</span></p>
				</button>
			</h2>
			<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
				<div class="accordion-body p-0">
					<!--! EPISODI -->
					<div class="container d-flex flex-column gap-3 p-2">
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								1
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								2
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								3
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								4
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								5
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								6
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								7
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
					</div>
					<!--! FINE EPISODI -->
				</div>
			</div>
		</div>
		<div class="accordion-item bg-body-tertiary">
			<h2 class="accordion-header">
				<button
					class="accordion-button bg-body-secondary collapsed p-2"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseThree"
					aria-expanded="false"
					aria-controls="panelsStayOpen-collapseThree"
				>
					<p class="m-0">Stagione: <span> 3</span></p>
				</button>
			</h2>
			<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
				<div class="accordion-body p-0">
					<!--! EPISODI -->
					<div class="container d-flex flex-column gap-3 p-2">
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								1
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								2
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								3
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								4
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								5
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								6
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
						<!--=================================================================-->
						<button class="btn bg-body-secondary position-relative">
							<span id="numEpisodio" class="position-absolute badgePersonale text-bg-success translate-middle badge rounded-pill">
								7
								<span class="visually-hidden">unread messages</span>
							</span>
							<div class="row d-flex flex-row align-items-center episodi p-2">
								<div class="col col-10 p-0 d-flex flex-row flex-nowrap gap-1 gap-md-4 align-items-center">
									<img src="https://placehold.co/600x400/000000/FFFFFF/png" class="imgEpisodi rounded-3" alt="plca" />
									<p class="text-truncate m-0"><strong>Titolo dell' episodio</strong></p>
								</div>
								<div class="col col-2 p-0 fw-lighter">
									<span><strong>22</strong>min</span>
								</div>
							</div>
						</button>
						<!--=================================================================-->
					</div>
					<!--! FINE EPISODI -->
				</div>
			</div>
		</div>
	</div>
</div>
